table {
  width: 500px;
  border: 2px dashed DeepPink;
  caption-side: top;
  text-align: center;
  margin: 0 0 30px;
}
td {
  border: 2px solid DeepPink;
}
caption {
  background: Pink;
}
table.fixed {
  table-layout: fixed;
}
table.space {
  border-spacing: 20px;
  empty-cells: hide;
}
td.twin {
  border: 5px double DeepPink;
}
td.dots {
  border: 5px dotted DeepPink;
}
td.full {
  border: 5px solid DeepPink;
}
table.fold {
  border-collapse: collapse;
}
