table {
  width: 500px;
  border: 2px dashed DeepPink;
  caption-side: top;
  text-align: center;
  margin: 0 0 30px;
}
td {
  border: 2px solid DeepPink;
}
caption {
  background: Pink;
}
table.fixed {
  table-layout: fixed;
}
table.space {
  border-spacing: 20px;
  empty-cells: hide;
}
td.twin {
  border: 5px double DeepPink;
}
td.dots {
  border: 5px dotted DeepPink;
}
td.full {
  border: 5px solid DeepPink;
}
table.fold {
  border-collapse: collapse;
}
h3 {
  clear: left;
  margin: 0;
}
ol {
  margin: 0 5px 0 0;
  border: 2px solid DeepPink;
  float: left;
  background: Pink;
  padding: 0 0 0 10px;
}
li {
  margin: 0 0 0 20px;
  background: White;
}
ol#list-0 {
  list-style-type: lower-latin;
}
ol#list-1 {
  list-style-type: upper-latin;
}
ol#list-2 {
  list-style-type: lower-greek;
}
ol#list-3 {
  list-style-type: disc;
}
ol#list-4 {
  list-style-type: circle;
}
ol#list-5 {
  list-style-type: square;
}
/* ol#list-6 {
  list-style-image: url(images/—Pngtree—green\ check\ mark\ icon\ flat_5253210.png);
} */

ol#list-7 {
  list-style-type: lower-roman;
}
ol#list-8 {
  list-style-type: upper-roman;
}
ol#list-9 {
  list-style-type: decimal;
}
ol#list-10 {
  list-style-type: decimal-leading-zero;
}
